<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Hello. Please input the number of questions you need for your test</h1>

    </div>
  </div>
</div>